.item-info-container{
    padding: 30px;
    width: max-content;
    height: fit-content;
    gap: 100px;
    align-items: center;    
}

.item-info-img{
    width: 200px;
    height: auto;
}
.categories{
    display: flex;
    gap: 10px;
}

.category-div{
    background-color: rgb(98, 98, 98);
    padding: 10px;
    border-radius: 5px;
    color: white;
    
}