.create-post-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    column-gap: 20px;
}

.items-to-trade{
    background-color: rgb(22 25 29);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

