@import url("/src/App.css");

.btn.btn-violet{
    border-color: var(--primary-violet);
    background-color: var(--primary-violet);
    color: white;
}

.btn.btn-violet:hover{
    background-color: var(--secondary-violet);
    border-color:var(--secondary-violet);
}


.btn.btn-violet:active{
    background-color: var(--secondary-violet) !important;
    border-color:var(--secondary-violet) !important;
}