@import url("/src/App.css");

.logo{
    width: 40px;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
}

.navbar{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15);
}


.items-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-items{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.notificacion-icon{
    margin-right: 20px;
    font-size: 1.3rem;
    cursor: pointer;
}

.navbar-link{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.navbar-link:hover{
    color: var(--primary-violet);
}
