@import url("/src/App.css");


.search-btn{
    border-color: var(--primary-violet) !important;
    color: var(--primary-violet) !important;
}


.search-btn:hover{
    background-color: var(--primary-violet) !important;
    color: white !important;
}

