.comment-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(16 19 22);
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid blueviolet;
}

.comment-main {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 5% minmax(100px, 1fr);
    grid-auto-flow: row;
    column-gap: 25px;
}

.username {
    cursor: pointer;
}