.comment-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(16 19 22);
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-main {
    padding: 10px 20px;
    background-color: #171a1d;
    border-radius: 3px;
    margin-left: 20px;
    font-size: larger;
}
