:root{
  --primary-violet:#8c20e7;
  --secondary-violet:#6e13b9;
}

.text-violet{
  color: var(--primary-violet);
}

.header{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15);
}

.form-card{
  border: 1px solid var(--primary-violet);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}
  

.validation-form-control{
  height: 50px;
}

.invalid{
  border: 2px solid rgb(196, 54, 54) !important;
}

.link{
  color: var(--primary-violet);
}

.btn.btn-violet{
    border-color: var(--primary-violet) !important;
    background-color: var(--primary-violet) !important;
    color: white !important;
}

.btn.btn-outline-violet{
  border-color: var(--primary-violet);
  color: var(--primary-violet);
}


.btn.btn-outline-violet:hover{
    background-color: var(--primary-violet);
    color: white;
}

.btn.btn-violet:hover{
    background-color: var(--secondary-violet) !important;
    border-color:var(--secondary-violet) !important;
    color: white;
}


.btn.btn-violet:active{
    background-color: var(--secondary-violet) !important;
    border-color:var(--secondary-violet) !important;
}

/*------------- For item images slider ----------------*/
.items{
  display: flex;
  gap: 10px;
  background-color: rgb(22 25 29);
  border-radius: 5px;
  padding: 5px;
  overflow-x: auto;
  min-height: 110px;
}

.items::-webkit-scrollbar {
  display: none;
}



