:root{
  --primary-violet:#8c20e7;
  --secondary-violet:#6e13b9;
}

*{
  font-family: 'Roboto Condensed', sans-serif;
}

.text-violet{
  color: var(--primary-violet);
}


.form-card{
  border: 1px solid var(--primary-violet);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}

.auth-container{
  width: 30%;
}
  

.validation-form-control{
  height: 50px;
}

.invalid{
  border: 2px solid rgb(196, 54, 54) !important;
}

.link{
  text-decoration: none;
  color: white;
}

.toggle-auth{
  color: var(--primary-violet);
}

.btn.btn-violet{
    border-color: var(--primary-violet) !important;
    background-color: var(--primary-violet) !important;
    color: white !important;
}

.btn.btn-outline-violet{
  border-color: var(--primary-violet);
  color: var(--primary-violet);
}


.btn.btn-outline-violet:hover{
    background-color: var(--primary-violet);
    color: white;
}

.btn.btn-violet:hover{
    background-color: var(--secondary-violet) !important;
    border-color:var(--secondary-violet) !important;
    color: white;
}


.btn.btn-violet:active{
    background-color: var(--secondary-violet) !important;
    border-color:var(--secondary-violet) !important;
}

/*------------- For item images slider ----------------*/
.items{
  display: flex;
  gap: 10px;
  background-color: rgb(22 25 29);
  border-radius: 5px;
  padding: 5px;
  overflow-x: auto;
  min-height: 110px;
}

.items::-webkit-scrollbar {
  display: none;
}

/*------ Animation for Showing Objects ------*/
.has-animation-to-show{
  animation: showAnimation 0.3s ease-out;
  transform-origin: center;
}


@keyframes showAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*-------- Media Queries -------*/

@media only screen and (max-width:1000px) {
  .auth-container{
    width: 40%;
  }
}


@media only screen and (max-width:850px) {
  .auth-container{
    width: 50%;
  }
}

@media only screen and (max-width:400px) {
  .auth-container{
    width: 100%;
  }
}

